@page
@model Presentacion.Pages.CrudEmpleado.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Empleado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Empleado.id" />
            <div class="form-group">
                <label asp-for="Empleado.Nombre" class="control-label"></label>
                <input asp-for="Empleado.Nombre" class="form-control" />
                <span asp-validation-for="Empleado.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empleado.Apellido" class="control-label"></label>
                <input asp-for="Empleado.Apellido" class="form-control" />
                <span asp-validation-for="Empleado.Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empleado.Cedula" class="control-label"></label>
                <input asp-for="Empleado.Cedula" class="form-control" />
                <span asp-validation-for="Empleado.Cedula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empleado.RolEmpleado" class="control-label"></label>
                <select asp-for="Empleado.RolEmpleado" class="form-control">
                    <option value="0">ADMINISTRADOR_COMPRAS</option>
                    <option value="1">ADMINISTRADOR_VENTAS</option>
                    <option value="2">ADMINISTRADOR_SISTEMA</option>
                    <option value="3">VENDEDOR</option>
                </select>
                <span asp-validation-for="Empleado.RolEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empleado.CodigoEmpleado" class="control-label"></label>
                <input asp-for="Empleado.CodigoEmpleado" class="form-control" />
                <span asp-validation-for="Empleado.CodigoEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empleado.Sucursal" class="control-label"></label>
                <input asp-for="Empleado.Sucursal" class="form-control" />
                <span asp-validation-for="Empleado.Sucursal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empleado.Usuario" class="control-label"></label>
                <input asp-for="Empleado.Usuario" class="form-control" />
                <span asp-validation-for="Empleado.Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empleado.Password" class="control-label"></label>
                <input asp-for="Empleado.Password" class="form-control" />
                <span asp-validation-for="Empleado.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
